body
    {
        margin:0;
        padding: 0;
        height: 173vw;
    }
    .containIcon
    {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 3vw;
        top: 4vw;
        width: 25vw;
    }
    .icon
    {
        width: 2.5vw;
        height: 1.5vw;
    }
    .title
    {
        margin: 0px;
        font-size: 1.5vw;
    }
    .contain-navigation
    {
        display: flex;
        flex-direction: row;
        position: relative;
        left:35vw;
        top:0.5vw;
        width: 30vw;
    }
    .t
    {
        font-size: 1vw;
        margin-right:3vw; 
    }
    .contain-sign
    {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 87vw;
        bottom: 2.7vw;
        width: 10vw;
    }
    .carticon
    {
        width: 3vw;
        height: 3vw;
        margin-right: 1vw;
    }
    .sign
    {
        width: 5vw;
        height: 3vw;
        border-radius: 1.5vw;
        background-color: white;
        border: 0.1vw solid gray;
        font-size: 1vw;
        cursor: pointer;
    }
    .banner
    {
        width: 90vw;
        height: 25vw;
        background: url(./Banner.jpg);
        background-size: 100% 100%;
        margin: auto;
    }
    .proted
    {
        color: white;
        font-size: 3.5vw;
        margin: 0;
        position: relative;
        top: 5vw;
        left: 29vw;
        width: 30vw;
    }
    .parrafo
    {
        color: white;
        font-size: 1.6vw;
        position: relative;
        top: 5.5vw;
        width: 50vw;
        text-align: center;
        margin: 0;
        left: 19vw;
    }
    .contain-input
    {
        border-radius: 1vw;
        position: relative;
        bottom: 10vw;
        left: 24.5vw;
        background-color: white;
        width: 50vw;
        height: 18vw;
        box-shadow: 0px 0px 10vw 1vw rgba(128, 128, 128, 0.459);
    }
    .pass-label
    {
        font-size: 1.5vw;
        position: relative;
        left: 10vw;
        top: 3vw;
    }
    .pass-input
    {
        font-size: 1.5vw;
        position: relative;
        left: 3.1vw;
        top: 7vw;
        width: 30vw;
        height: 3vw;
        border-radius: 1.5vw;
        border: 0.1vw solid gray;
        padding: 0;
    }
    .pass-input::placeholder
    {
        position: relative;
        top: 0.3vw;
        left: 1vw;
    }
    .submit
    {
        padding: 0;
        background-color: black;
        color: white;
        width: 10vw;
        height: 3vw;
        border: none;
        border-radius: 2vw;
        position: relative;
        top: 11vw;
        right:7vw ;
        font-size: 1vw;
        cursor: pointer;
    }
    hr
    {
        margin: 0;
        width: 70vw;
        position: relative;
        left: 14.5vw;
        border: 0.1vw solid gainsboro;
    }
    .linear-botton
    {
        position: relative;
        top: vw;
        
    }
    .containIcon-two
    {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 15vw;
        top: 3vw;
        width: 25vw;
    }
    .see
    {
        width: 15vw;
        height: 4vw;
        border-radius: 1.8vw;
        background-color: white;
        border: 0.1vw solid gray;
        font-size: 1vw; 
        position: relative;
        left: 70vw;
        bottom: 1.8vw;
        cursor: pointer;
    }
    ol
    {
        list-style: none;
        font-size: 1.5vw;
        width: 25vw;
    }
    li
    {
        color: gray;
        margin-bottom: 0.5vw;
        width: 15vw;
    }
    .list-re
    {
        position: relative;
        top: 5vw;
        left: 15vw;
        padding: 0;
    }
    .title
    {
        font-weight: bold;
        color: black;
        margin-bottom: 1.5vw;
        font-size: 1.8vw;
    }
    .list
    {
        padding: 0;
        position: relative;
        bottom: 10vw;
        left: 27vw;
    }
    .list-ut
    {
        padding: 0;
        position:  relative;
        bottom: 27.6vw;
        left:41vw;
    }
    .interaction
    {
        width: 32vw;
        height: 25vw;
        background: url(./Starup.jpg);
        background-size: 100% 100%;
        position: relative;
        bottom: 50vw;
        left: 53vw;
        line-height:0;  
    }
    .purple
    {
        position: relative;
        width: 6vw;
        height: 3vw;
        top: 5vw;
        left: 6vw;
        border-radius: 1vw;
        border: none;
        opacity: 0;
        cursor: pointer;
    }
    .black
    {
        width: 9.5vw;
        height: 4vw;
        position: relative;
        top: 15vw;
        border-radius: 1vw;
        border: none;
        opacity: 0;
        cursor: pointer;
    }
    footer
    {
        position: relative;
        left: 14.5vw;
        width: 70vw;
        height: 3vw;
        bottom: 47vw;
        background: url(./FooterP.jpg);
        background-size: 100% 100%;
    }
    .redes
    {
        width:  40vw ;
        height: 30vw;
        position: relative;
        margin-top: 3vw;
        left: 30vw;
    }
    .title2
    {
        font-size: 2vw;
        position: relative;
        left: 29.5vw;
        width: 50vw;
    }
    .content2
    {
        font-size: 1vw; 
        width: 40vw;
        position: relative;
        left: 29.5vw;
        color: gray;
    }
    .cheket
    {
        width: 42vw;
        position: relative;
        left: 29.5vw;
    }
    .publicity
    {
        width: 40vw;
        position: relative;
        left: 29.5vw;
    }