*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /*border: 1px solid red;*/
    @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&family=Roboto:ital,wght@0,500;0,700;1,300&display=swap');
}
body{
    background: #FFFFFF;
    font-family: 'Mulish', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/*HEADER*/
.header{
    display: flex;
    justify-content: space-between;
}
nav{
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 4vw;
}
.Header_Principal{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    font-size:1.8vw ;
}
.Icon_Logo{
    width: 17vw;
}
.Links_Principales{
    display: flex;
    gap: 10vh;
    padding-right: 2vw;
    align-items: center;
    justify-content: center;
}
.Links_Principales a{
    font-size: 2.3vh;
    color: #000000;
}
.Container_Two{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.Button_Sign button{
    align-items: center;
    font-size: 1.9vh;
    width: 7.5vw;
    height: 5.8vh;
    border-radius: 62vh;
    background: #E0E0E0;
    border: 1vh;
    
}
.Button_Header{
    display: flex;
    text-align: center;
    justify-content: center;
}
.Cart{
    background-color: #5956E9;
    padding: 0.8vw;
    border-radius: 50%;
}
.Content_Banner{
    background-image:url(/IMG/HEADER-IMG/Image.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    height: 40vh;
    margin: 0vh 5vw;
}
.Container_Banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20vh;
    gap: 5vh;
}
.Texto{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-size: 8vh;
    margin-top: -5vh;

}
.Text_Two{
    display: flex;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    font-size: 2vh;
    margin-top: -2vh;
}


Content_Tool_Img{
    display: flex;
    justify-content: center;
    padding: 1vh 8vw;
    margin-top: 25vh
}
.Content_Tool{
    display: grid;
    grid-template-columns: auto;
    width: 50vw;    font-size: 3vh;
    margin-top: 7vh;
}
.Titulo_Tool{
    font-size: 4vh;
}
.Parrafo_Tool{
    margin-top: -8vh;
    font-size: 2.8vh;
    color:#808080;
}
.Points_Tool{
    margin-top: -15vh;
    font-size: 4vh;
    color: #2F2F2F;
}
.Separar_Tool{
    display: flex;
    justify-content: left;
    align-items: center;
    padding-top: 3vh;
    width: vw;
    font-family: arial;
}
.Button_Tool{
    margin-top: -9vh;
}
.Btn_Star{
    border-radius: 30vw;
    height: 8vh;
    width: 15vw;
    background-color: #2F2F2F;
    color: #FFFFFF;
    border: 1vh;
    font-size: 2.4vh;
}